:host {
    margin: auto;
    display: block;
}

.inventory {
    border: 1px solid red;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0;
    list-style: none;
}
