:host {
    display: flex;
    align-items: center;
    justify-content: center
}

.crafting-table {
    display: flex;
    flex-direction: row;
}

.operator {
    display: flex;
    align-items: center;
}
